body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  nav {
    background-color: #b81111;
    height: 60px;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 120px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 30px;
  }

  nav li {
    margin: 0 150px;
  }

  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
  }

  .nav-image {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 5%;
    padding-left: 50px;
  }

  .profile-button {
    background-color: #333;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 13px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .event-container {
    display: flex;
    flex-wrap: wrap;
  }

  .event-image {
    width: 70%;
    height: 470px;
    overflow: hidden;
  }

  .event-image img {
    padding-top: 10px;
    width: 100%;
    height: auto;
    display: block;
  }

  .event-details {
    width: 50%;
    box-sizing: border-box;
    padding-left: 3%;
  }

  .event-description {
    padding: 20px;
  }

  .volunteer-form {
    text-align: left;
    margin-top: 40px;
  }

  .volunteer-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .volunteer-form input {
    width: 20vw;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .volunteer-button {
    text-align: left;
    margin-top: 10px;
  }

  .volunteer-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b81111;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .volunteer-button a:hover {
    background-color: #fff;
    color: #b81111;
  }

  footer {
    background-color: #b81111;
    color: #fff;
    text-align: right;
    padding: 10px;
    padding-right: 20px;
  }